/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.div {
  background-color: rgb(38, 38, 43);
}

.home {
  overflow: hidden;
  margin: 0;
  text-align: left;
}

.home::before {
  content: "";
  position: absolute;
  width : 100%;
  height: 100%;
  background: url('./images/anime-sukasuka-sukasuka-wallpaper-preview.jpg') no-repeat;
  background-size: cover;
  z-index: -1;

  filter        : blur(5px);
  -moz-filter   : blur(5px);
  -webkit-filter: blur(5px);
  -o-filter     : blur(5px);

  transition        : all 2s linear;
  -moz-transition   : all 2s linear;
  -webkit-transition: all 2s linear;
  -o-transition     : all 2s linear;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
